/* Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root {
    --white: #fff;
    --whiteHover: #b6b6b6;
    --lightBlue:#0c437d;
    --lightBlueHover:#083868;
    --darkBlue: #05203C;
    --black: #000;
}

html { /* Box Model */
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
}
[class$='container'] {
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
@media (min-width: 768px) {
    [class$='container'] {
        width: 90%;
    }
}
img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
}
fieldset {
    border: none;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
/* HEADER */
.header {
    padding: 3rem;
    background-color: var(--darkBlue);
    color: var(--white);
}

.header__logo {
    color: var(--white);
}

.header__display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .header {
        padding: 0;
    }
    .header__display {
        flex-direction: row;
    }
}

.navigation__link {
    display: block;
    text-align: center;
    color: var(--white);
    padding: 1.5rem 2rem;
    border-radius: .3rem;
}

.navigation__link:hover {
    background-color: var(--lightBlue);
    transition: .3s;
}

@media (min-width: 768px) {
    .navigation {
        display: flex;
        align-items: center;
        gap: 5rem;
    }
}

/* Buscar Vuelo */
.main {
    background-color: var(--darkBlue);
    color: var(--white);
}

.main__heading {
    margin: 0;
    padding: 1rem 0;
}

.flightForm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;
}

/* Estilos formularios */
.form {
    background-color: var(--darkBlue);
    color: var(--white);
    padding: 2rem;
    max-width: 60rem;
    margin: 0 auto;
}

/* #usersForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} */

.form__fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__fieldset-btn {
    justify-content: space-between;
}

.form__field {
    display: flex;
    flex-direction: column;
}

.form__label {
    font-size: 1.8rem;
}

.form__input {
    border: none;
    padding: .6rem;
    border-radius: .3rem;
    margin-top: .5rem;
    width: 70%;
}

.form__button {
    border: none;
    padding: 1rem;
    width: 70%;
    cursor: pointer;
    background-color: var(--lightBlue);
    color: var(--white);
    border-radius: .3rem;
}

.form__button:hover {
    background-color: var(--lightBlueHover);
    transition: .3s;
}

/* Mostrar Vuelos */
.section__heading {
    text-align: center;
}

.flightCard {
    background-color: var(--darkBlue);
    border-radius: 3rem;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--white);
    max-width: 80rem;
    margin: 2rem auto;
}

.flightCard__field {
    /* background-color: var(--lightBlue); */
    padding: 1rem;
    border-radius: 3rem;
    width: 30rem;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.flightCard__field--flight {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.flightCard__image {
    width: 3rem;
}

.flightCard__button {
    background-color: var(--white);
    color: var(--darkBlue);
    font-weight: 700;
}
.flightCard__button:hover {
    background-color: var(--whiteHover);
    color: var(--lightBlue);
}


/* Footer */

.footer {
    background-color: var(--darkBlue);
    color: var(--white);
}

.footer a {
    color: var(--white);
}
  
.footer__header {
    background-color: #37475a;
}
  
.footer__heading {
    text-align: center;
    font-size: 2.7rem;
    padding: 2rem;
}
  
  .footer__display {
    display: grid;
    justify-content: center;
    align-items: center;
}
  
@media (min-width: 580px) {
    .footer__display {
      grid-template-columns: repeat(2, 1fr);
    }
}
  
@media (min-width: 1000px) {
    .footer__display {
      grid-template-columns: repeat(3, 1fr);
    }
}

.cuc {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    height: 12rem;
  }
  
.footer__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.footer__column p {
    margin: 0 0 2rem 0;
    line-height: 1.5;
}

/* Menu Mantenimientos */
.menu__heading {
    text-align: center;
}
.menu__list  {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.menu__item:hover {
    background-color: var(--darkBlue);
    transition: .3s;
}
.menu__link {
    display: block;
    color: var(--white);
    background-color: var(--lightBlue);
    padding: 1rem;
    width: 30rem;
    text-align: center;
    border-radius: .3rem;
}

/* Mantenimientos Usuarios */
